@charset "utf-8";
/* CSS Document */
h1{
    position: fixed;
    top: 50px;
    left: 114px;
}
p{
    width: 500px;
    position: fixed;
    top: 100px;
    left: 114px;	
}
p1{
    position: fixed;
    top: 500px;
    left: 114px;
}
